In [8]:
group_members = {"names": ["Rahab", "Sieley", "Faith", "Jane", "Purity"], "age" : [18,20,22,24,16]}

In [10]:
 # updating with gender
group_members["sex"] = ["F", "F","F", "F","F"]

In [6]:
print (group_members)

{'names': ['Rahab', 'Sieley', 'Faith', 'Jane', 'Purity'], 'age': [18, 20.22, 24, 16], 'sex': ['F', 'F', 'F', 'F', 'F']}

In [11]:
import pandas as pd
pd.DataFrame(group_members)

    names  age sex
0   Rahab   18   F
1  Sieley   20   F
2   Faith   22   F
3    Jane   24   F
4  Purity   16   F